<div class="chart-container">
  <canvas id="MyChart">{{chart}}</canvas>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-info">List of Boss</div>
    <app-user-input (add)="addOddUser(oddUsers, $event)"></app-user-input>
    <app-user-list [users]="oddUsers" [usersCluster]="'Boss'"></app-user-list>
  </div>
  <div class="col">
    <div class="alert alert-info">List of Workers</div>
    <app-user-input (add)="addEvenUser(evenUsers, $event)"></app-user-input>
    <app-user-list [users]="evenUsers" [usersCluster]="'Workers'"></app-user-list>
  </div>
</div>