<div class="chart-container">
  <canvas id="MyChart">{{chart}}</canvas>
</div>

<div class="row">
  <div class="col">

    <div class="alert alert-info">List of Boss</div>
    <div class="row">
      <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="userFullNameOdd">
      </div>
      <div class="col-3">
        <button class="btn btn-primary" [disabled]="!userFullNameOdd" (click)="addOddUser(oddUsers, userFullNameOdd)">
          add user</button>
      </div>
    </div>

    <app-user-list [users]="oddUsers" [usersCluster]="'Boss'"></app-user-list>
  </div>
  <div class="col">

    <div class="alert alert-info">List of Workers</div>
    <div class="row">
      <div class="col-9">
        <input type="text" class="form-control" [(ngModel)]="userFullNameEven">
      </div>
      <div class="col-3">
        <button class="btn btn-primary" [disabled]="!userFullNameEven"
          (click)="addEvenUser(evenUsers, userFullNameEven)">add user</button>
      </div>
    </div>

    <app-user-list [users]="evenUsers" [usersCluster]="'Workers'"></app-user-list>
  </div>
</div>